<template name="submission">
    <div class="submission container">
        <div class="modal fade submission-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <p>
                    When submitting a photo, please ensure that it is a well-focused image with a ruler next to the fossil for scale.
                </p>
                <button class='btn btn-primary btn-block agree'>Got it</button>
            </div>
          </div>
        </div>
        <h2>Submit a Photo</h2>
        <form role="form">
            <div class="form-group">
                <label for="photo">Fossil Photo:</label>
                <input type="file" name="photo" class="myFileInput" id="myFileInput" required>
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" id="location" placeholder="Enter location" required>
            </div>
            <div class="form-group">
                <label for="story">Fossil Story:</label>
                <textarea type="story" class="form-control" id="story" placeholder="Enter fossil story" required></textarea>
            </div>
            <button id="submit" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</template>


