.home-page .btn, .submission-modal .btn, .thank-you-modal .btn {
    letter-spacing: 2px;
    padding: 15px;
}

.home-page h3 {
    text-align: center;
}

.submission-modal p, .thank-you-modal p {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.submission-modal, .thank-you-modal {
    top: 20%;
}

.highlight img {
    margin: 0 auto;
}

.highlight img {
    width: 100%;
}