.home-page .btn, .submission-modal .btn, .thank-you-modal .btn {
    letter-spacing: 2px;
    padding: 15px;
}

.home-page h3 {
    text-align: center;
}

.submission-modal p, .thank-you-modal p {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.submission-modal, .thank-you-modal {
    top: 20%;
}

.highlight img {
    margin: 0 auto;
}

.highlight img {
    width: 100%;
}

.thumb-container, .thumb-container img, .review-bar, .official .btn {
    width: 100%;
}

.official .btn {
    margin-bottom: 50px;
    margin-top: -20px;
}

.review-bar, #reason {
    margin-bottom: 60px;
}

.yes, .no {
    display: inline-block;
    width: 49%;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    color: white;
}

.official .yes, .official .no {
    background-color: #ccc;
}

.yes {
    background-color: #5cb85c;
}

.no {
    background-color: red;
}

.yes:hover, .no:hover {
    cursor: pointer;
}

.review-container {
    width: 100%;
}

.review-container .review-btn {
    width: 49%;
    display: inline-block;
    background-color: #ccc;
    text-transform: uppercase;
    margin-left: 2px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.review-container .selected.review-btn {
    background-color: #5cb85c;;
}

.review-container .review-btn:hover {
    cursor: pointer;
}
