.home-page .btn, .submission-modal .btn, .thank-you-modal .btn {
    letter-spacing: 2px;
    padding: 15px;
}

.home-page h3 {
    text-align: center;
}

.submission-modal p, .thank-you-modal p {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.submission-modal, .thank-you-modal {
    top: 20%;
}

.highlight img {
    margin: 0 auto;
}

.highlight img {
    width: 100%;
}

.thumb-container, .thumb-container img, .review-bar {
    width: 100%;
}

.review-bar {
    margin-bottom: 60px;
}

.yes, .no {
    display: inline-block;
    width: 49%;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    color: white;
}

.yes {
    background-color: #5cb85c;
}

.no {
    background-color: red;
}

.yes:hover, .no:hover {
    cursor: pointer;
}
